body,
html {
  text-align: center;
  justify-content: center;
  background-color: #ff3713;
}

h1 {
  font-size: 50px;
  font-family: "Anton", sans-serif;
  color: seashell;
}

h2 {
  font-weight: bold;
  font-size: 30px;
  font-family: "Lobster", cursive;
}

h2:hover {
  color: white;
}

h3 {
  font-family: "Lobster", cursive;
}

p {
  color: snow;
}


/* Styling to create box for each heading */
.cube {
  background-color: springgreen;
  border: 2px solid #000000;
  margin: 10px;
  padding: 3px;
  text-align: center;
}


/* Styling every topic accordingly */
#item2 {
  height: 250px;
  width: 340px;
  float: left;
}

#item1 {
  height: 310px;
  width: 200px;
  float: left;
}

#item5 {
  height: 200px;
  float: left;
  width: 250px;
}

#item6 {
  height: 260px;
  width: 300px;
  float: left;
}


/* Styling sub point of heading for better look */
ul {
  text-decoration: none;
  margin: 0px;
  padding: 0px;
}

li {
  list-style-type: none;
  font-size: 20px;
  font-family: "Akronim", cursive;
}

li a {
  list-style-type: none;
  text-decoration: none;
  font-family: "Akronim", cursive;
  color: black;
  text-align: center;
}

li a:hover {
  color: red;
  text-shadow: #fa4141 1px 1px;
}



/* Styling domains of skills under genres  */
.genres {
  background-color: rgb(15, 14, 14);
  border-radius: 20px;
}

.genres ul {
  overflow: auto;
  list-style-type: none;
}

.genres li {
  display: flex;
  color: white;
  float: left;
  margin: 8px 14px;
  font-family: "Akronim", cursive;
}

.genres li a {
  padding: 2px 2px;
  text-decoration: none;
  color: white;
  font-family: "Akronim", cursive;
  text-align: center;
}

.genres li a:active {
  color: yellow;
  border: 2px solid blue;
  box-shadow: 4px 4px 4px red, 4px 4px 4px blue;
  border-radius: 8px;
}

.genres li a:hover {
  color: yellow;
  border: 2px solid blue;
  box-shadow: 4px 4px 4px red, 4px 4px 4px blue;
  border-radius: 8px;
}
